/*	THEME OPTION STYLE
-----------------------
*/

#wpc_themeoption { width:98%; padding:40px 0 10px 0; font-family:"Courier New", Courier, mono; font-size:12px; }
#wpc_themeoption .to-header { padding:10px; background-color:#375690; border:1px solid #3f6aa8; border-bottom-color:#477fbd; color:#fff; }
#wpc_themeoption .to-logo { float:left; }
#wpc_themeoption .to-bigassbutton { float:right; padding:5px 5px 0 0; }
#wpc_themeoption .to-bigassbutton a {
	background: #3169b6 url(images/btn-overlay.png) repeat-x;
	display: inline-block; 
	padding: 22px 20px 22px 20px; 
	color: #95d2f9; 
	text-decoration: none;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	text-shadow:#333f60 1px 1px 1px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	font-weight:normal;
	font-size:25px;
	font-family:'Tahoma';
	letter-spacing:-1px;
	text-transform:uppercase;
}
#wpc_themeoption .to-bigassbutton a:hover { background-color: #4169bc; color: #fff; }
#wpc_themeoption .to-bigassbutton a:active { top:1px; }
#wpc_themeoption .to-navbtn { background-color:#3f6dad; color:#eeffff; }
#wpc_themeoption .to-navbtn ul { margin:0 10px; padding:0; list-style:none; }
#wpc_themeoption .to-navbtn ul li { margin:0; padding:10px 15px 10px 22px; float:left; }
#wpc_themeoption .to-navbtn ul li.docu { background:url(images/docu.png) no-repeat 0 50%; }
#wpc_themeoption .to-navbtn ul li.forum { background:url(images/forum.png) no-repeat 0 50%; }
#wpc_themeoption .to-navbtn ul li.linkremoval { background:url(images/linkremoval.png) no-repeat 0 50%; }
#wpc_themeoption .to-navbtn ul li.gosite { background:url(images/donate.png) no-repeat 0 50%; float:right; padding-right:10px; }
#wpc_themeoption .to-navbtn ul li a { color:#95d2f9; text-decoration:none; text-transform:uppercase; text-shadow:#333f60 1px 1px 1px; }
#wpc_themeoption .to-navbtn ul li a:hover { text-decoration:underline; }
#wpc_themeoption .to-body { background-color:#e9e9e9; border:1px solid #ddd; border-top:0px; }
#wpc_themeoption .to-navsections { width:25%; float:left; }
#wpc_themeoption .to-navsections ul { margin:0; padding:0; list-style:none; }
#wpc_themeoption .to-navsections ul li { margin:0; padding:0; }
#wpc_themeoption .to-navsections ul li:first-child { border-top:0px; }
#wpc_themeoption .to-navsections ul li a { display:block; padding:10px 15px; border-bottom:1px solid #ddd; border-top:1px solid #eee; font-size:14px; font-weight:bold; text-decoration:none; text-shadow:#fff 1px 1px 1px; color:#666; }
#wpc_themeoption .to-navsections ul li a:hover, .to-navsections ul li a.selected { color:#5f9cc4; text-shadow:#fff 1px 1px 1px; background-color:#fbfbfb; border-bottom:1px solid #fbfbfb; border-top:1px solid #fbfbfb; }
#wpc_themeoption .to-sections { width:75.1%; float:right; background-color:#fbfbfb; }
#wpc_themeoption .to-section { padding:10px; font-size:14px; }
#wpc_themeoption .to-section h2 { font-size: 25px; color: #111; border-bottom:1px solid #eee; letter-spacing: -1px; margin:0 0 10px 0; padding:0 0 8px 0; line-height:30px; text-transform:capitalize; text-shadow:#fff 1px 1px 1px; }
#wpc_themeoption .to-section span.emp { font-weight:bold; color:#111; }
#wpc_themeoption .to-section ul.multi { width:45em; }
#wpc_themeoption .to-section ul.multi li { float:left; width:15em; }
#wpc_themeoption .to-section .settings-wrapper { padding:0 0 30px 0; }
#wpc_themeoption .to-type { padding-bottom:5px; }
#wpc_themeoption .to-description { color:#b0b0b0; font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; }
#wpc_themeoption .to-type input[type=text], .to-type textarea { padding:6px 5px; background-color:#f1f1f1; border-top:1px solid #d9d9d9; border-left:1px solid #d9d9d9; border-right:1px solid #eaeaea; border-bottom:1px solid #eaeaea; font-family:Georgia, "Times New Roman", Times, serif; }
#wpc_themeoption .to-footer { padding:5px 2px; font-size:10px; font-family: 'Arial', 'Trebuchet MS'; text-transform:uppercase; text-shadow:#fff 1px 1px 1px; }
#wpc_themeoption .to-copyright { float:left; }
#wpc_themeoption .to-connect { float:right; }
#wpc_themeoption .to-connect span { display:block; float:right; padding-left:20px; }
#wpc_themeoption .to-connect span.rss { background:url(images/feed.png) no-repeat 0 50%; margin-right:10px; }
#wpc_themeoption .to-connect span.twitter { background:url(images/twitter.png) no-repeat 0 50%; }
#wpc_themeoption .to-connect span a { text-decoration:none; text-shadow:#fff 1px 1px 1px; }
#wpc_themeoption .to-connect span a:hover { text-decoration:underline; }

/*	ETC
--------------------------
*/
.noround {
	-moz-border-radius: 0px !important;
   -khtml-border-radius: 0px !important;
   -webkit-border-radius: 0px !important;
   border-radius: 0px !important;
}

/*	CLEAR FLOATED ELEMENTS
--------------------------
*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}











