# This is not really a .desktop file like the rest, but it is useful to treat
# it as such

[KdmGreeterTheme]
Encoding=UTF-8
Greeter=fbi-kde4.xml
Name=fbi
Description=FBI Terminal Theme
Description[x-test]=xxFBI Themexx
Author=Solrex Yang
Copyright=(c) 2009 Solrex Yang <http://solrex.cn>
Screenshot=screenshot.png
X-Ubuntu-Gettext-Domain=desktop_kdebase-workspace
